<main class="app-content container-fluid" ng-controller="contractController">
  <div class="app-title">
    <div>
      <h1><i class="bi bi-table"></i> Danh sách hợp đồng</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
      <li class="breadcrumb-item">Danh sách hợp đồng</li>
    </ul>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="tile">
        <div class="tile-body">
          <!-- Button thêm hợp đồng -->
          <div class="d-flex justify-content-end">
            <button class="btn btn-outline-primary col-auto" type="button" ng-click="openAddContractModal()">Thêm hợp
              đồng</button>
          </div>
          <!-- Table contracts -->
          <div class="table-responsive mt-4" style="max-height: 500px; overflow-y: auto;">
            <table class="table table-sm table-hover table-bordered" style="font-size: 12px;" id="contracts">
              <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Nhân viên</th>
                  <th scope="col">Ngày bắt đầu</th>
                  <th scope="col">Ngày kết thúc</th>
                  <th scope="col">Ngày ký</th>
                  <th scope="col">Mức lương</th>
                  <th scope="col">Người xác nhận</th>
                  <th scope="col">Kích hoạt</th>
                  <th scope="col">Hành động</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="contract in contracts">
                  <td>{{$index + 1}}</td>
                  <td>{{contract.fullName}}</td>
                  <td>{{contract.startDate | date:'dd/MM/yyyy'}}</td>
                  <td>{{contract.endDate | date:'dd/MM/yyyy'}}</td>
                  <td>{{contract.signingDate | date:'dd/MM/yyyy'}}</td>
                  <td>{{contract.agreedSalary | number:0 }} ₫</td>
                  <td>{{contract.confirmerID.fullName}}</td>
                  <td>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" ng-model="contract.isActive">
                    </div>
                  </td>
                  <td>
                    <button class="btn btn-primary btn-sm" ng-click="openUpdateContractModal(contract)">Cập
                      nhật</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Thêm Hợp Đồng -->
  <div class="modal fade" id="addContractModal" tabindex="-1" aria-labelledby="addContractModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addContractModalLabel">Thêm hợp đồng</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Form thêm hợp đồng -->
          <div class="row g-3">
            <div class="col-md-6">
              <label for="new_employee" class="form-label">Nhân viên</label>
              <div class="input-group">
                <input type="text" class="form-control" id="new_employee" ng-model="searchEmployeeQuery" ng-keyup="searchEmployees()" autocomplete="off">
                <ul class="list-group position-absolute w-100" ng-if="searchEmployeeQuery.length > 0">
                  <li class="list-group-item d-flex align-items-center" ng-repeat="employee in filteredEmployees | limitTo: 5" ng-click="selectEmployee(employee)" style="cursor: pointer;">
                    <img ng-src="{{employee.avatar}}" class="rounded-circle me-2" style="width: 30px; height: 30px;">
                    <span>{{employee.fullName}}</span>
                  </li>
                  <li class="list-group-item text-center" ng-if="!filteredEmployees.length">Không có kết quả</li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <label for="new_confirmer" class="form-label">Người xác nhận</label>
              <div class="input-group">
                <input type="text" class="form-control" id="new_confirmer" ng-model="searchConfirmerQuery" ng-keyup="searchConfirmers()" autocomplete="off">
                <ul class="list-group position-absolute w-100" ng-if="searchConfirmerQuery.length > 0">
                  <li class="list-group-item d-flex align-items-center" ng-repeat="employee in filteredConfirmers | limitTo: 5" ng-click="selectConfirmer(employee)" style="cursor: pointer;">
                    <img ng-src="{{employee.avatar}}" class="rounded-circle me-2" style="width: 30px; height: 30px;">
                    <span>{{employee.fullName}}</span>
                  </li>
                  <li class="list-group-item text-center" ng-if="!filteredConfirmers.length">Không có kết quả</li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <label for="new_agreedSalary" class="form-label">Mức lương</label>
              <input type="number" class="form-control" id="new_agreedSalary" ng-model="newContract.agreedSalary">
            </div>
            <div class="col-md-6">
              <label for="new_signingDate" class="form-label">Ngày ký</label>
              <input type="date" class="form-control" id="new_signingDate" ng-model="newContract.signingDate">
            </div>
            <div class="col-md-6">
              <label for="new_startDate" class="form-label">Ngày bắt đầu</label>
              <input type="date" class="form-control" id="new_startDate" ng-model="newContract.startDate">
            </div>
            <div class="col-md-6">
              <label for="new_endDate" class="form-label">Ngày kết thúc</label>
              <input type="date" class="form-control" id="new_endDate" ng-model="newContract.endDate">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" ng-click="closeAddContractModal()">Đóng</button>
          <button type="button" class="btn btn-primary" ng-click="addContract()">Lưu</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Cập Nhật Hợp Đồng -->
  <div class="modal fade" id="updateContractModal" tabindex="-1" aria-labelledby="updateContractModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateContractModalLabel">Cập nhật hợp đồng</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Form cập nhật hợp đồng -->
          <div class="row g-3">
            <div class="col-md-6">
              <label for="employee" class="form-label">Nhân viên</label>
              <input type="text" class="form-control" id="employee" ng-model="selectedContract.employeeID.fullName"
                disabled>
            </div>
            <div class="col-md-6">
              <label for="confirmer" class="form-label">Người xác nhận</label>
              <input type="text" class="form-control" id="confirmer" ng-model="selectedContract.confirmerID.fullName"
                disabled>
            </div>
            <div class="col-md-6">
              <label for="agreedSalary" class="form-label">Mức lương</label>
              <input type="number" class="form-control" id="agreedSalary" ng-model="selectedContract.agreedSalary">
            </div>
            <div class="col-md-6">
              <label for="signingDate" class="form-label">Ngày ký</label>
              <input type="date" class="form-control" id="signingDate" ng-model="selectedContract.signingDate" />
            </div>
            
            <div class="col-md-6">
              <label for="startDate" class="form-label">Ngày bắt đầu</label>
              <input type="date" class="form-control" id="startDate" ng-model="selectedContract.startDate" />
            </div>
            
            <div class="col-md-6">
              <label for="endDate" class="form-label">Ngày kết thúc</label>
              <input type="date" class="form-control" id="endDate" ng-model="selectedContract.endDate" />
            </div>            

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" ng-click="closeUpdateContractModal()">Đóng</button>
          <button type="button" class="btn btn-primary" ng-click="updateContract()">Cập nhật</button>
        </div>
      </div>
    </div>
  </div>


</main>